{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>User list</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin_index') }}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('admin_user_index') }}">Users</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>list</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-title">
                <h5>User list</h5>
                <div class="ibox-tools">
                    <a href="{{ path('admin_user_new') }}" class="btn btn-primary btn-xs">Add new user</a>
                </div>
            </div>
        </div>

        <div class="row">
            {% for user in list %}
            <div class="col-lg-3">
                <div class="contact-box center-version">

                    <a href="{{ path('admin_user_edit', {id: user.id}) }}">

                        {% if user.avatar|length > 0 %}
                            <img class="rounded-circle" src="{{ asset('uploads/avatars/' ~ user.avatar) }}" />
                        {% else %}
                            <img src="{{ asset('admin/img/avatar.png') }}">
                        {% endif %}

                        <h3 class="m-b-xs"><strong>{{ user }}</strong></h3>

                        <div class="font-bold">Graphics designer</div>
                        <address class="m-t-md">
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </a>

                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a href="" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a href="" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a href="" class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
