{% extends 'layout.html.twig' %}

{% block body %}

    <strong>Feedback page</strong>

    {{ form_start(form) }}

    <div class="my-class">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="my-class">
        {{ form_label(form.contacts) }}
        {{ form_widget(form.contacts) }}
        {{ form_errors(form.contacts) }}
    </div>

    <div class="my-class">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <button type="submit" class="btn btn-danger">Отправить форму</button>

    {{ form_end(form) }}

    {#{{ form(form) }}#}

{% endblock %}

