{% extends'layout.html.twig' %}

  {% block body %}
      <div class="row g-5">
          <div class="col-md-8">
              <article class="blog-post">

                  {% for v in posts %}
                  {% if v.id>14 %}
                  <h2 class="blog-post-title">
                     {{ v.getName() }} <br/>
                  </h2>
                  <p class="blog-post-meta">
                      {{ v.getPublicAt()| date('Y-m-d') }}
                      by
                      <a href="{{ path('default_kile') }}">{{ author.getAuthor }}</a></p>
                  <p>
                      {{ v.getDescription() }}
                      {%  endif %}
                      {% endfor %}
                   </article>
          </div>
      </div>
  {% endblock %}



